
.grid {
    width: 1100px;
    font-size: 13px;
    line-height: 24px;
    text-align: center;
    /*white-space: pre-line;*/
    border: 1px solid #ddd;
}

    .grid .gridHeader th {
        background-color: #f5f5f5;
        color: #777;
        font-weight: bold;
        font-size: 13px;
        text-align: center;
        border: 1px solid #ddd;
    }

        .grid .gridHeader th a {
            background-color: #f5f5f5;
            color: #777;
            font-weight: bold;
            font-size: 13px;
            text-align: center;
        }

.gridRow {
    background-color: #f9f9f9;
    color: #777;
    font-size: 13px;
    /*white-space: pre-line;*/
    border: 1px solid #ddd;
}

.gridAlternatingRow {
    color: #777;
    background-color: #f5f5f5;
    text-align: center;
    /*white-space: pre-line;*/
    border: 1px solid #ddd;
}

.gridRowOver {
    color: #777;
    background-color: #f5f5f5;
    text-align: center;
    font-size: 13px;
    border: 1px solid #ddd;
}

.SelecteurGridView {
    padding-left: 1px;
    padding-right: 1px;
}
    .SelecteurGridView > div > table > thead > tr > th {
        text-align: center;
    }
.SelecteurGridView > div > table > thead > tr > th > a{
    color: #777;
}

.groupeNavigation {
    margin-bottom: 25px;
    padding-left: 7px;
    padding-bottom : 25px;
}

.BoutonPagination {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    color: inherit;
    float: left;
    margin-left: -1px;
    padding: 4px 10px;
    position: relative;
    text-decoration: none;
}

.ArrondiGauche {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.ArrondiDroite {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.SurchargeBoutonPagination {
    border: none;
    background: none;
    line-height: normal;
}

.ListeDeroulantePagination {
    border: none;
    line-height: normal;
}

/* Tabs
----------------------------------*/
.ui-tabs {
    zoom: 1; /* AGO -> */
    border: none;
    padding: 0;
}

    .ui-tabs .ui-tabs-nav {
        list-style: none;
        position: relative;
        padding: .2em .2em 0; /* AGO  -> */
        background: none;
        border-top: none;
        border-left: none;
        border-right: none;
    }

        .ui-tabs .ui-tabs-nav li {
            position: relative;
            float: left;
            border-bottom-width: 0 !important;
            margin: 0 .2em -1px 0;
            padding: 0;
        }

            .ui-tabs .ui-tabs-nav li a {
                float: left;
                text-decoration: none;
                padding: .5em 1em;
            }

            .ui-tabs .ui-tabs-nav li.ui-tabs-selected {
                padding-bottom: 1px;
                border-bottom-width: 0;
            }

                .ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a {
                    cursor: text;
                }

            .ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a {
                cursor: pointer;
            }
    /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
    .ui-tabs .ui-tabs-panel {
        padding: 1em 1.4em;
        display: block;
        border-width: 0;
        background: none;
    }

    .ui-tabs .ui-tabs-hide {
        display: none !important;
    }


    .custom-height-modal{
    height: 900px;
    overflow-y: auto;
}

.btn-LoadContent {
    font-size: 14px;
    line-height: 30px;
    padding: 0 10px;
    text-decoration: none;
    border-radius: 0;
    background-color: #fff;
    color: #78c8d1;
    border: 1px solid #78c8d1;
    margin-bottom: 15px;
}
        .btn-LoadContent:hover {
            font-size: 14px;
            line-height: 30px;
            padding: 0 10px;
            text-decoration: none;
            border-radius: 0;
            background-color: #fff;
            color: #78c8d1;
            border: 1px solid #78c8d1;
           
        }
/*****ibox collapsed*********/
.ibox.collapsed .ibox-content {
  display: none;
}
.ibox.collapsed .fa.fa-chevron-up:before {
  content: "\f078";
}
.ibox.collapsed .fa.fa-chevron-down:before {
  content: "\f077";
}
.ibox:after,
.ibox:before {
  display: table;
}

.alerteCommandement {
    border-color: red;
    border-width: 2px;
    border-radius: 5px;
    color: #FF0000;
}
    .alerteCommandement div {
        text-align: center;
        padding-bottom: 10px;
    }


.iboxDetail:not(.iboxDetail-ajaxfileupload) {
    margin-bottom: 5px;
}

.iboxDetail .ibox-title:not(.ibox-title-ajaxfileupload) {
    border-width: 2px;
    border-style: none;
    color: #1ab394;
    padding-left: 0px;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 2px;
}

    .iboxDetail .ibox-title:not(.ibox-title-ajaxfileupload) h4 {
        border-bottom: 2px solid #e7eaec;
        padding-bottom: 10px;
    }

.iboxDetail .ibox-content:not(.ibox-content-ajaxfileupload) {
    padding-left: 0px;
    margin-left: 15px;
    border-style: none;
    padding-bottom: 5px;
}

/*****tooltips*********/
.tooltip_templates {
    display: none;
}

.tooltipster-sidetip.tooltipster-noir.tooltipster-noir-customized .tooltipster-box {
    background: #fff;
    border: 1px solid #676a6c;
    border-radius: 6px;
    box-shadow: 5px 5px 2px 0 rgba(0,0,0,0.4);
}

.tooltipster-sidetip.tooltipster-noir.tooltipster-noir-customized .tooltipster-content {
    color: #333;
    padding: 8px;
}

.radioButtonListAdb input {
    vertical-align: top;
}

.radioButtonListAdb label {
   padding-left: 10px;
}



.form-control {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.form-control-withbreaks {
    white-space: break-spaces!important;
    overflow: scroll!important;
    text-overflow: ellipsis;
}


/*****IZY LOC*********/

.certificate {
    font-weight: 600 !important;
}

    .certificate i {
        font-size: 14px !important;
    }

.certificate-candidat {
    color: #009933 !important;
    font-weight: bold !important;
}

.certificate-button, .certificate-blue, .certificate-red {
    color: #FFFFFF !important;
    font-weight: bold !important;
}

.certificate-blue {
    background-color: #29ABE2 !important;
    border-color: #29ABE2 !important;
    max-width: 120px !important;
}

    .certificate-blue:hover, .certificate-blue:focus, .certificate-blue:active {
        background-color: #129ED9 !important;
        border-color: #129ED9 !important;
    }

.certificate-red {
    background-color: #970909 !important;
    border-color: #970909 !important;
}

    .certificate-red:hover, .certificate-red:focus, .certificate-red:active {
        background-color: #6A0707 !important;
        border-color: #6A0707 !important;
    }

.certificate-encourssaisie, .certificate-encourssaisie a {
    color: #3B3B3B !important;
}

.certificate-encoursupload, .certificate-encoursupload a {
    color: #3B3B3B !important;
}

.certificate-enattentereponsecandidats, .certificate-enattentereponsecandidats a {
    color: #3B3B3B !important;
}

.certificate-incomplet, .certificate-incomplet a {
    color: #DB6800 !important;
}

.certificate-nouveau, .certificate-nouveau a {
    color: #757575 !important;
}

.certificate-misajour, .certificate-misajour a {
    color: #009E74 !important;
}

.certificate-derogation, .certificate-derogation a {
    color: #002E93 !important;
}

.certificate-faireappel, .certificate-faireappel a {
    color: #750000 !important;
}

.certificate-valide, .certificate-valide a {
    color: #00A510 !important;
}

.certificate-refuse, .certificate-refuse a {
    color: #BA0000 !important;
}

.certificate-annule, .certificate-annule a {
    color: #0D79B5 !important;
}

.modal button.close {
    font-size: 27px;
    font-weight: 900;
}

.div-break-word {
    /*word-break: break-all;*/
    /* word-wrap: break-word; */
    white-space: normal;
}

