/*/////////////////////////// GENERAL ///////////////////////////*/

*{
	margin: 0;
	padding: 0;
	font-family: 'Work Sans';
}

html,body,.slides,.container{
	width: 100%;
	height: 100%;
}

a{
	text-decoration: none;
	color: black;
}

ul, p, input, textarea{
	list-style: none;
	font-size: 1.1em;
}

h1, h2, h3, h4, h5{
	font-weight: 400;
}

.button{
	padding: 8px 18px;
	background-color: #A8C956;
	border: 2px solid #A8C956;
	color: white;
	text-transform: uppercase;
	transition: background-color 0.5s;
}

.button:hover{
	background-color: rgba(0,0,0,0);
}

/*/////////////////////////// CONNECTION ///////////////////////////*/


.overlay {
	z-index: 200;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(255,255,255,0.92);
}

.overlay .logo{
	position: absolute;
	left: 4%;
	top: 20px;
}

.overlay .overlay-close {
	width: 55px;
	height: 55px;
	position: absolute;
	right: 4%;
	top: 20px;
	overflow: hidden;
	border: none;
	outline: none;
	z-index: 100;
	background: transparent !important;
	font-size: 36px;
	color: #7C7C7C;
	cursor: pointer;
}

.overlay nav {
	text-align: center;
	position: relative;
	top: 55%;
	height: 55%;
	font-size: 54px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.overlay form input{
	border: none;
    border-bottom: 1px solid #7C7C7C;
    width: 350px;
    padding: 5px;
    background: transparent;
    font-size: 16px;
    max-width: 80%;
    outline: none;
}

.overlay a{
	text-decoration: none;
}

.overlay .button{
	padding: 10px 18px;
	font-size: 18px;
	width: 320px;
	margin: 30px auto 0;
	max-width: 75%;
}

.connect{
	padding: 10px 18px !important;
    background-color: #A8C956 !important;
    border: 2px solid #A8C956 !important;
    color: white !important;
    transition: background-color 0.5s, color 0.5s !important;
    width: 360px !important;
    cursor: pointer;
    max-width: 85% !important;
	
}

.connect:hover{
	background-color: rgba(0,0,0,0) !important;
	color: #A8C956 !important;
}

.overlay-hugeinc.open {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.overlay-hugeinc nav {
	-webkit-perspective: 1200px;
	perspective: 1200px;
}

@media screen and (max-height: 30.5em) {
	.overlay nav {
		height: 70%;
		font-size: 34px;
	}
}


.lost {
	font-size: 15px;
	margin-top: 15px;
	text-decoration: underline !important;
	color: #808080;
}








